*.pe
*.pe
*.pe
HotasNoGadgeteer/bin/Debug/be/HotasNoGadgeteer.pe
HotasNoGadgeteer/bin/Debug/be/HotasNoGadgeteer.pe
HotasNoGadgeteer/bin/Debug/le/HotasNoGadgeteer.pe
HotasNoGadgeteer/obj/Debug/be/HotasNoGadgeteer.pe
*.pe